@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --curve: 20;
}

.carousel {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-items img {
  width: 100%;
  object-fit: cover;
  user-select: none;
}






.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
  gap: 0.5rem;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  /* height: 90%; */
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 250px;
  height: 450px;
  max-height: 450px;
  min-height: 450px;
  object-fit: cover;
}

.card {
  display: flex;
  align-items: center;
  /* width: 100%; */
  width: 0px;
  min-width: 250px;
}

.contador {
  text-align: center;
  color: rgb(236, 212, 182);
  margin-top: 5px;
}